<div class="hero">
    <div class="hero-main">
        <div class="hero-salutation">
            <div class="content">
                <div class="img">
                    <img src="../../../assets/images/profile.png" alt="image">
                </div>
                <p>Full-stack dev <br> Java / Angular</p>
            </div>
            <h2><span>Hi</span>, I'm Oussama 🤗</h2>
        </div>
        <br>
        <div class="hero-text">
            <h1>Building dynamic, scalable web applications seamlessly 
                <iframe src="https://lottie.host/embed/e7de46d9-09df-4df7-919f-3c6bd8473b67/yUXnam7d6T.json" style="border: none; width: 50px;height: 50px;"></iframe>
            </h1>
            
            <a href="../../../assets/pdf/OUSSAMA-CHARAFI-CV-FR--EN-FULL_STACK.pdf" download="OUSSAMA-CHARAFI-CV.pdf">
                <button class="cv">Download CV <i class="pi pi-file-pdf"></i></button>
            </a>
        </div>
    </div>
</div>
