<div class="hero-slide">
    <div class="slide-content">
    <div class="file">
        <div class="img">
            <i class="devicon-java-plain"></i>
        </div>
    </div>

    <div class="file">
        <div class="img">
            <i class="devicon-javascript-plain"></i>
        </div>
    </div>

    <div class="file">
        <div class="img">
            <i class="devicon-angular-plain"></i>
        </div>
    </div>

    <div class="file">
        <div class="img">
            <i class="devicon-git-plain"></i>
        </div>
    </div>



    <div class="file">
        <div class="img">
            <i class="devicon-typescript-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-github-original"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-html5-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-spring-original"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-vscode-plain"></i>
        </div>
    </div>



    <div class="file">
        <div class="img">
            <i class="devicon-docker-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-react-original"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-css3-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-bootstrap-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-angularmaterial-plain"></i>
        </div>
    </div>


    <div class="file">
        <div class="img">
            <i class="devicon-hibernate-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-intellij-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-maven-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-postman-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-figma-plain"></i>
        </div>
    </div>





    
    <div class="file">
        <div class="img">
            <i class="devicon-mysql-original"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-tailwindcss-original"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-c-plain"></i>
        </div>
    </div>
    <div class="file">
        <div class="img">
            <i class="devicon-php-plain"></i>
        </div>
    </div>    
</div>
</div>