header{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    border-bottom: .5px solid var(--color-border);
}
.left-zoon{
    display: flex;
    align-items: center;
}
.email{
    display: flex;
    align-items: center;
}
.email > button {
    padding: 5px 8px;
    color: var(--text-color);
    border-radius: 7px;
    background: var(--primary-color);
    margin-right: 10px;
    cursor: pointer;
    transition: .4s;
    border: none;
}
.email > button:hover{
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.119);
}
.email > p{
    font-size: 14px;
    font-weight: 600;
}
.right-zoon{
    display: flex;
    align-items: center;
}
.right-zoon > ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}
ul > li > a  > i{
    color: var(--text-color);
    text-decoration: none;
    border-right: .5px solid var(--text-color);
    padding: 0 15px;
    transition: .5s;
}
ul > li > a > i:hover{
    transform: translateY(-10px);
}