<header>
    <div class="left-zoon">
        <div class="email">
            <button (click)="copyEmail()"><i class="pi pi-copy"></i></button>
            <p>{{ email }}</p>
        </div>
    </div>

    <div class="right-zoon">
        <ul>
            <li><a href="#">Linkedin <i class="pi pi-linkedin"></i></a></li>
            <li><a href="#">Github <i class="pi pi-github"></i></a></li>
            <li><a href="#">Instagram <i class="pi pi-instagram"></i></a></li>
        </ul>
        <app-mode-home></app-mode-home>
    </div>
</header>
